body{
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1{
    color: rgb(110, 5, 5);
}

input{
    padding:8px;
    width:250px;
    margin:5px;
}

button{
    background-color: green;
    color:white;
    padding:8px 12px;
    border:none;
    cursor:pointer;
    margin-left:5px;
}

button:hover{
    background-color:darkgreen;
}

li{
    margin:8px 0;
    list-style-type:none;
}

li button{
    margin-left:15px;
    background-color:red;
}

li button:hover{
    background-color:darkred;
}
