body{
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #d31111;
}

h1{
    color: rgb(110, 5, 5);
}

button{
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
}

button:hover{
    background-color: rgb(23, 121, 108);
}

li{
    margin: 5px;
}
